/* Will be compiled down to a single stylesheet with your sass files */

body
  padding-top: 20px
  padding-bottom: 20px

.container-narrow
  margin: 0 auto
  max-width: 960px
  > hr
    margin: 30px 0