%header
  .navbar.navbar-inverse.navbar-fixed-top
    %a.navbar-brand{:href=>"/"} PrestaShop + Angular.js = Hexabones
    %ul.nav.navbar-nav
      %li
        %a{:href=>"/"}
          %i.icon-home
          Home
      %li
        %a{:href=>"#"}
          %i.icon-sitemap
          Sitemap
      %li.dropdown
        %a.dropdown-toggle{:href=>"#",:"data-toggle"=>"dropdown"}
          Language
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href=>"#"} en
          %li.disabled
            %a{:href=>"#"} fr
          %li.disabled
            %a{:href=>"#"} es
    %button.btn.btn-primary.navbar-btn.pull-right
      %i.icon-unlock-alt
      sign-in
#shop.row
  //main
  %section#main.col.col-lg-9
    .page-header{:"ng-show"=>"query"}
      %h1
        {{query}}
        %small on {{prestashop.api.attributes.shop_name}}

    //breadcrumb
    %ul.breadcrumb{:"ng-show"=>"query"}
      %li 
        %a{:href=>'',:'ng-click'=>'filterCategory(false)'}
          %i.icon-home
          Home
      %li.active {{query}}

    //products
    %section#products
      #products-sorting-options.navbar{"ng-show"=>"catalog.products.product"}
        
        %form.navbar-form.pull-left
          %input{:type=>"text",:"ng-model"=>"search.name",:"placeholder"=>"What are you looking for ?", :"style"=>"width: 300px;"}
        %ul.nav.navbar-nav.pull-right
          %li
            %a{:href=>"#"}
              %i.icon-align-justify
              List
          %li.active
            %a{:href=>"#"}
              %i.icon-th
              Grid

      #products-result.row
        .product-loading{"ng-hide"=>"catalog.products.product.length>0"}
          %i.icon-refresh.icon-spin.icon-large
          Loading...
        .product.ng-cloak{"ng-show"=>"catalog.products.product.length>0","ng-repeat"=>"product in catalog.products.product | filter:search"}
          %a{:href=>"#/products/{{product.id}}"}
            %img.media-object{:"ng-src"=>"{{product.associations.images.image.id | imagePath}}"}
          .caption
            %h4.media-heading
              %a{:href=>"#/products/{{product.id}}"}
                {{product.name.language}}
            %span{:"ng-repeat"=>"catId in product.associations.categories.category|getChild"}
              %a.label{:href=>'',:'ng-click'=>'filterCategory(catId)'}{{catNameById(catId)}}

            %p.product-description {{product.description.language.p|truncate:120}}
            
            %p
              %a.btn.tiny.btn-primary{:title=>"Add to cart",:"ng-click"=>"cart.addItem(product.id,product.name.language,1)"}
                %i.icon-shopping-cart
                +1
              %a.btn.tiny.btn-default.pull-right{:href=>"#/products/{{product.id}}",:title=>"See Details"} 
                %i.icon-search
  //sidebar
  %aside#sidebar.col.col-lg-3
    %section#cart.panel.panel-success
      .panel-heading
        %i.icon-shopping-cart
        Cart
      %ul.list-group
        %li.list-group-item{:"ng-repeat"=>"item in cart.items"}
          %span.badge {{item.quantity}}
          {{item.name}}
      %a.btn.btn-success
        %i.icon-ok
        Checkout
      %a.btn.btn-default{:"ng-click"=>"cart.clearItems()"} Clear
    //category
    %section#categories.panel
      .panel-heading
        %i.icon-tags
        Categories
      %p Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
      %div.list-group.list-group-flush
        %a.list-group-item{:"ng-repeat"=>"category in categories.categories.category | filter:{id_parent:2}",:"ng-class"=>"{active : isSelected(category.id)}", :href=>'#',:'ng-click'=>'filterCategory(category.id)'}
          %span.badge {{category.nb_products_recursive}}
          {{category.name.language}}
    //services
    %section.panel
      .panel-heading
        %i.icon-cogs
        Services Available
      %ul#services
        %li{"ng-repeat"=>"(service,service_data) in prestashop.api | with:'description'"}
          %strong {{service}} : 
          {{service_data.description}}
    //infos
    %section.panel
      .panel-heading
        %i.icon-code
        We love 
      %ul
        %li{"ng-repeat"=>"thing in awesomeThings"}
          {{thing}}

%footer
  %p
    Hexabones
    %a{:href=>"http://shipow.github.com/hexabones"} Github Project -
    Version 0.0.1 - 
    Created & Maintained by
    %a{:href=>"https://twitter.com/kevin_granger"} Kevin Granger
